@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

:root {
  --green: #37d09d;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

.nhap {
  font-size: 10000;
}
.logo {
  display: flex;
  align-items: center;
}
/* header section start */
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  padding-left: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo5anotminus {
  font-size: 3rem;
  color: #333;
  font-weight: bolder;
}

header .navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #666;
}

header .navbar a:hover {
  color: var(--green);
}
header .icons {
  font-size: 1.5rem;
  color: #333;
  display: flex;
  justify-content: center;
  padding-right: 50px;
  align-items: center;
}


.search-box {
  display: flex;
  background-color: #e2dfdf;
  padding: 8px 16px;
  border-radius: 40px;
  transform: translateX(-30px);
  justify-content: center;
  align-items: center;
}

.search-box .search-input {
  transition: 0.5s;
  width: 0;
  overflow: hidden;
}

.search-input .input {
  border: none;
  outline: none;
  background-color: unset;
  padding: 8px;
  font-weight: bold;
}

.search-box:hover .search-input {
  width: 200px;
}

.search-box .search-input input[type="text"]:not(:placeholder-shown) {
  width: 200px;
}



#heart-cart {
  font-size: 2.5rem;
  color: #333;
  margin-right: 1.5rem;
  display: inline-block;
}
#heart-cart:hover {
  color:#12a373
}
#heart-cart:hover .fa-heart {
  background-color: green; /* bao phủ toàn bộ trái tim với màu xanh lá khi hover */
}
/* header section end */

/* footer section start */
.container {
  padding-left: 120px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #37d09d;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 5px 10px 10px 0;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.footer p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.footer-col .support-widget {
  color: #bbbbbb;
  line-height: 20px;
  font-weight: 300;
  font-size: 16px;
}

/* footer section end */

/* Style for user account button*/
.user-menu {
  position: relative;
  right: -7px;
}

.user-icon {
  background-color: #37d09d;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5em;
  width: 34px;
  height: 34px;
  border: none;
}

.user-icon i {
  position: relative;
  color: #FFFFFF;
  font-size: 18px;
  top: -2.5px;
}

.user-icon:hover {
  background-color: #28ad81;
  font-weight: 700;
}

.user-icon:hover i {
  color: black;
  font-weight: 700;
}

.menu-items {
  width: 224px;
  width: 208px;
  display: none;
  position: absolute;
  top: 100%;
  margin-top: 12px;
  right: 0;
  margin-right: 5px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 8px;
  white-space: nowrap;
  background: linear-gradient(to right, #575e64, #7a8187);
  border-radius: 4px;
}

.menu-items a {
  display: flex;
  padding: 8px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  /* identical to box height, or 150% */
  text-decoration: none;
  color: #FFFFFF;
  align-items: center;
  justify-items: center;
  transition: all 0.25s ease-in-out;
}

.menu-items i {
  padding-right: 15px;
  color: white;
  font-size: 18px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.user-menu .menu-items {
  display: none;
}

.user-menu.active .menu-items {
  display: block;
}

.user-menu .menu-items a:hover {
  background-color: #12a373;
  color: black;
  font-weight: 700;
}

.user-menu .menu-items a:hover i {
  color: black;
  font-weight: 700;
}